
  
 body{
  background-image: url(Bosqueceramica/alfarero.jpg);
  background-size: 110%;
  background-repeat: no-repeat;

} 
  
 .flex-container {
  display: flex;
 
}

.flex-container > div {
  background-color:rgb(232, 232, 169,0.5); ;
  color: white;
  margin: 25px;
  text-align: center;
  line-height: 20px;
  font-size: 30px;
  margin: auto;
}
/*-------------------------------------------------------*/
.carrusel{
  width: 1000px;
  height: 450px;
  overflow: hidden;
  background-color:rgb(232, 232, 169,0.5); ;
  margin: auto;
  margin-top: 10px;
  border: solid black 3px;
  border-radius: 20px;
  }
  .imagenes {
      display: flex;
      transform: translateY(0);
      transition: transform 1s ease-in-out;
  }
  .control{
      height: 30px;
      display: flex;
      justify-content: space-between;
      
  }
  #btn{
    border: solid black 1px;  
    background-color: rgb(227, 73, 73);
    flex-basis: 60px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 20px 1px rgba(234, 54, 54, 0.705);
  }
  .imagen {
  
  height: 400px;
  
  }
  #img-foto{
    margin: auto;
  }
  .titu {
    font-family: BlinkMacSystemFont;
    font-size: 60px;
    background-color: rgb(232, 232, 169,0.5);
    text-align: center;
  }
  
  .carrousel{
    border: solid black 3px;
    border-radius: 20px;
  }
  .btn-flecha{
    background-color: rgba(234, 54, 54) ;
    border-radius: 5px;
    box-shadow: 0 0 20px 1px rgba(234, 54, 54, 0.705);
  }
.p{
font-size: 20px;
font-family: Haettenschweiler;
line-height: 10px;
}