  
*{
	margin: 20;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
 
}
.header{
  background-color: rgb(245, 243, 207);
}
body{
  background-image: url(Bosqueceramica/alfarero.jpg);
  background-size: 116%;
  background-repeat: no-repeat;

}
.flex-container  {
  display: flex;
 /* background-color: rgba(248, 248, 117, 0.148);*/
 
  color: white;
  width: 100%;
  margin: 10px;
  text-align:center;
  line-height: 30px;
  font-size: 15px;
  float: left;
}

.t1 img {
  
  box-sizing: border-box;
  width: 100%;
  display: flex;
  border: 2px solid rgba(0, 0, 0,1);
  border-radius: 20px;
  }
  .t2 img {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    border: 2px solid rgba(0, 0, 0,1);
    border-radius: 20px;
    }
  .t2  :hover {
      transform: scale(1.5);
      transition: all 0.5s; 
    }
    .t1  :hover {
      transform: scale(1.5);
      transition: all 0.5s;
    }
 .p{
color:black;
  text-align: center;
  font-size: 2.3em;
  font-family:Impact, Haettenschweiler;
 }

 .div_p{
  box-sizing: border-box;
  width: 20%;
  display: flex;
  border: 2px solid rgba(0, 0, 0,1);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 227, 194,0.4);
}

.div_form {
 
  
  display: flex;
  border: 2px solid rgba(0, 0, 0,1);
  border-radius: 20px; 
  float: right;
 background-color: rgb(245, 243, 207,0.4);
 box-sizing: border-box;
   
    margin: 10;
    width: 100%;
    font-family: sans-serif;
}
.formulario {
  width: 700px;
  float: left;
  padding: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0,0.3);
  position: relative;
}
.formulario__titulo {
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
color:rgba(0, 0, 0, 1) ;
}

.formulario__input, .formulario__label,
.formulario__botn {
display: block;
width: 100%;
margin-bottom: 20px;
font-size: 1.1em;
}

.formulario__input {

  padding: 20px;

  background :rgba(145,74,85,0.3);
  border: 1px solid rgba(0, 0, 0,1);
  margin-bottom: 25px;
}
.formulario__input:focus{
  outline: 1px solid rgba(0, 0, 0, 1);
}
.formulario__input:focus +
.formulario__label{
  margin-top: -95px;
}
.formulario__label {
  text-align: left;
  padding-left: 15px;
  position:absolute;
  margin-top: -75px;
  z-index: -20;
  color: rgba(0,0,0,1);
  transition: all 0.2s;
  }
  .formulario__botn {
    background: rgba(152, 40, 40, 1);
    color :white;
    padding: 10px 20px;
    cursor: pointer;
    height: 60px;
    border: 3px solid rgba(0, 0, 0,1);
    border-radius: 20px;
    }
    .fijar {
margin-top: -90px;
 }

.main {
  height: 1460px;;
}

.container-bar{
	width: 100%;
	max-width: 70px;
	position:fixed ;
	right: 0px;
	top: 20%;
}
.container-bar a{
	display: block;
	width: 70px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	position: relative;
	transition: all 500ms ease;
	color: #fff;
}
.container-bar a:hover{
	background: #1c1c1c;
}
.container-bar .fa-facebook{
	background: #3b5998;
	border-radius: 5px 0px 0px 0px;
}
.container-bar .fa-youtube{
	background: #e52a23;
}
.container-bar .fa-twitter{
	background: #00acee;
}
.container-bar .fa-insta{
	background: #e035f09a;
}
.container-bar .fa-pinterest{
	background:rgba(232, 247, 23, 0.997);
	border-radius: 0px 0px 0px 5px;
}
.container-bar #title{
	position: absolute;
	background: #1c1c1c;
	padding: 0px 8px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 3px;
	font-size: 15px;
	top:12px; right: 0px;
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
}
.container-bar a:hover #title{
	opacity: 1;
	visibility: visible;
	right: 80px;
}
.container-bar #title:after{
	position: absolute;
	content: '';
	border-left: 7px solid transparent;
	border-right: 6px solid #1c1c1c;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	left: 95%;
	top: 8px;
}

.lista{
  background-color: rgb(245, 243, 207);
  border: 3px solid rgba(0, 0, 0,1);
  border-radius: 20px;
 

}
.logo{
  box-sizing: border-box;
  
  
  border: 8px solid rgba(0, 0, 0,1);
  border-radius: 20px;
}
.img_logo{

  display: flex;
  border: 2px solid rgba(0, 0, 0,1);
  border-radius: 20px;
  width: 100%;
  height: 500px;

  box-sizing: border-box;
  
}


#btn-social:checked ~ .icon-social{
	transform: translateX(-150%);
	box-shadow: 0px 1px 10px rgba(231, 10, 10, 0.917);
}
header,footer {
  background-color: white;
  border-style: solid;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
}
.error {
  border: 3px solid red;
}
.ok {
    border: 3px solid rgb(19, 123, 48);
  }
.formulario__grupo-correcto{
    border: #e52a23 3px solid;
}
.formulario__grupo-incorrecto{
    border: #30e523 3px solid;
}
.formulario_error {
    /*leyenda de error que aparece debajo del texto*/
    font-size: 15px;
    margin-bottom: 0;
    color: #3b983e;
    display: none;
    /*con none lo matenemos oculto hasta que ocurra el error*/
}

.formulario_error-activo {
    font-size: 16px;
    display: block;
    color: #9c1e61;
}  
#lista_mensajes{
margin-left: 30px;
padding: 10px;

}
#lista_errores{
  margin-left: 30px;
  padding: 10px;

}
.btn_volver{
display: flex;
  float: right;
  margin-right: 10px;
  border: #30e523 3px solid;
  box-shadow: 0px 1px 10px rgba(231, 10, 10, 0.917);
  height: 70px;
  
  width: 100%;
	max-width: 70px;
	position:fixed ;
	right: 0px;
	top: 88%;
}