 
 .flex-container {
    display: flex;
    background-color: #e49595;
  }
  
  .flex-container > div {
    background-color: DodgerBlue;
    color: white;
    width: 200px;
    margin: 25px;
    text-align: center;
    line-height: 20px;
    font-size: 30px;
  }
  